* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Garamond, serif;
}
img {
  max-width: 100%;
  height: auto;
  width: 500px;
  margin: 10px 50px;
}
h2 {
  margin: 0 0 8px;
  /* line-height: 40px; */
  font-family: Ubuntu, sans-serif;
}
p{
    font-size: 15px;
}
.header__menu,
footer {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__menu {
  justify-content: flex-start;

  background: #e0dfe4;
  height: 60px;
  color: rgb(54, 51, 51);
}
li:hover {
  color: #ef5366;
}
.active {
  color: #ef5366;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
ul li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
aside {
  flex: 0.4;
  height: 165px;
  padding-left: 15px;
  border-left: 1px solid #666;
}
section {
  margin-left: 20px;
  flex: 1;
  padding-right: 15px;
}
footer {
  padding: 0 10px;
  background: #ccc;
  color: rgb(117, 111, 117);
  font-weight: 500;
  justify-content: center;
}
